a {
    color: #000;
    text-decoration: none;
    background-color: transparent;
}
.image-table {
    height: 40px;
    width: 40px;
    object-fit: cover;
}
.column{
    max-width: 150px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.column-text{
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.break-word {
    word-wrap: break-word;
}
.breadcrumb .active {
    font-weight: bold;
}
.breadcrumb a:hover {
    font-weight: bold;
    opacity: 0.9;
    color: #000;
}
.error {
    color: red;
    font-size: 14px;
}
.required::after {
    content: " *";
    color: red;
}
.result-description {
    line-height: 1.4;
    word-spacing: normal;
}
.result-name {
  font-weight: 500;
  color: burlywood;
}
.navbar-active {
    background-color: rgba(255,255,255,.1);
    color: #fff;
}

@media (max-width: 991.98px) {
    .sidebar-admin {
        display: none;
    }
}
@media (min-width: 991.98px) {
    .btn-show-sidebar {
        display: none;
    }
    .sidebar-admin {
        display: block !important;
    }
}
.toggle-sidebar {
    border: none;
    background-color: transparent;
}
.btn-logout:hover {
    background-color: rgba(255,255,255,.1);
    color: #fff;
    padding: 4px;
    border-radius: 4px;
}
#preview-container {
    display: flex;
    flex-wrap: wrap;
}
.preview-item {
    width: 50%;
    box-sizing: border-box;
}
.preview-item img, .preview-item video,
.preview-item-edit img, .preview-item-edit video {
    padding: 10px;
    max-width: 100%;
    max-height: 260px;
}
.preview-item-edit {
    position: relative;
    box-sizing: border-box;
}
.btn-delete-media {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    background-color: red;
    border: none;
    padding: 0 5px 5px 5px;
    font-size: 24px;
    line-height: 1;
    color: #fff;
}
@media (max-width: 600px) {
    .preview-item {
        width: 100%;
    }
}
